body.contact{

  .footer-entreprise{
    font-family:"open_sanssemibold";
    font-size: 20px;
    position: relative;

    color:#0099d7;
  }
  .footer-particulier{
    font-family: "open_sanssemibold";
    font-size: 20px;
    color:#e5294d;
    position: relative;
  }
  .div-footer-contact{
    //max-width: 1080px;
    margin: 0 auto !important;
    float: none !important;
    position: relative;
    //left: -30px;
  }
  .left-side-arres{
    position: absolute;
    left: 75%;
    top: 10%;
    width:100%;

  }
  .lien-centered{
    position: absolute;
    left: 40%;
    a{
      color: #000;
    }
  }

  a:hover{
    text-decoration: none;
  }
  .menu-foot a{
    color: #000;
    font-size: 14px;

  }
  @media all and (max-width:860px) {
    .lien-centered{
      top: 50px;
    }
    .left-side-arres{
      top:80px;
      left:40%;
    }
    .subdomain{
      left:35%;
    }
  }
  @media all and (max-width:680px) {
    .lien-centered{
      top: 40px;
      left: 30%;
    }
    .left-side-arres{
      top:80px;
      left:30%;
    }
    .subdomain{
      left:25%;
    }
  }
  @media all and (max-width:550px) {
    .lien-centered{
      top: 40px;
      left: 0;
    }
    .left-side-arres{
      top:80px;
      left:0;
    }
    .subdomain{
      left:0 !important;
    }
  }

  @media all and (max-width:333px) {
    .footer-particulier, .footer-entreprise {
      width: 100%;
    }
    .lien-centered{
      top: 55px;

    }
  }
}