body.plan-du-site{
  .logo-reservation-plan{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 50px;
  }
  .demande-plan{
    background-color: #F5F5DC;
  }
  .form-plan {
    max-width: 40%;
    margin: 0 auto;
    background-color: #fff;
  }
  .wsp-container{
    text-align: center;
  }
  .wsp-pages-title{
    margin-bottom: 50px;
  }
  .wsp-pages-list {
    text-align: left !important;
    list-style: none !important;
    margin-top: 50px !important;
    margin-bottom: 50px;

  }
  .wsp-pages-list li a{
    color: #000;
    font-size: 18px;
    margin: 20px;

  }
}